spring:
  application:
    name: api-gateway


  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://LOGIN-SERVICE
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1
server:
  port: 8080